@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

.SboardView{
    text-align: center;
    padding: 20px;
    width: 100rem;
    height: 70rem;
    font-family: "Noto Sans KR", sans-serif;
}