:root {
  --primary-color: #4EA685;
  --secondary-color: #57B894;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267B2;
  --google-color: #DB4437;
  --twitter-color: #1DA1F2;
  --insta-color: #E1306C;
  --kakao-color: #FEE500;
  --naver-color: #03C75A;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.col {
  width: 50%;
}

.align_items_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form_wrapper {
  width: 100%;
  max-width: 50rem;
}

.form {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: .5s ease-in-out;
  transition-delay: 1s;
}

.form.sign_in{
  width: 50%;
}
.form.sign_up{
  display: flex;
}

.input_group {
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.input_group input {
  width: 60%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: var(--gray);
  border-radius: .5rem;
  border: 0.125rem solid var(--white);
  outline: none;
}

.input_group input:focus {
  border: 0.125rem solid var(--primary-color);
}

.form button {
  cursor: pointer;
  width: 100%;
  padding: .6rem 0;
  border-radius: .5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.2rem;
  outline: none;
}

.form p {
  margin: 1rem 0;
  font-size: .7rem;
}

.flex_col {
  flex-direction: column;
}

.container.sign_in .form.sign_in,
.container.sign_up .form.sign_up{
  transform: scale(1);
}

.content_row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 4rem;
  color: var(--white);
}

.text h2 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  transition: 1s ease-in-out;
}

.text p {
  font-weight: 600;
  transition: 1s ease-in-out;
  transition-delay: .2s;
}

.img img {
  width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: .4s;
}

.text.sign_in h2,
.text.sign_in p,
.img.sign_in img {
  transform: translateX(-250%);
}

.text.sign_up h2,
.text.sign_up p,
.img.sign_up img {
  transform: translateX(250%);
}

.container.sign_in .text.sign_in h2,
.container.sign_in .text.sign_in p,
.container.sign_in .img.sign_in img,
.container.sign_up .text.sign_up h2,
.container.sign_up .text.sign_up p,
.container.sign_up .img.sign_up img {
  transform: translateX(0);
}

/* BACKGROUND */

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  transition: 1s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.container.sign_in::before {
  transform: translate(0, 0);
  right: 50%;
}

.container.sign_up::before {
  transform: translate(100%, 0);
  right: 50%;
}

.form .login_btn{
  border: 2px solid var(--primary-color);
  cursor: pointer;
  width: 100%;
  padding: .6rem 0;
  border-radius: .5rem;
  background-color: var(--white);
  color: var(--primary-color);
  font-size: 1.1rem;
  outline: none;
  box-sizing: border-box;
}

.snslogin{
  margin: 1rem 0;
  /* display: flex; */
  /* justify-content: space-between; */
}

.snslogin .kakao{
  /* width: 49%; */
  border: 2px solid var(--kakao-color);
  background-color: var(--kakao-color);
  color: var(--kakao-color);
  font-weight: bold;
}
.kakao img{
  width: 15%;
}

.snslogin .naver{
  /* width: 49%; */
  margin-top: 1rem;
  border: 2px solid var(--naver-color);
  background-color: var(--naver-color);
  color: var(--white)
}
.naver img{
  width: 15%;
}
.join_btn, .login_btn{
  font-family: "Noto Sans KR";
  /* font-weight: bold; */
}

.flex_box_col{
  display: flex;
  flex-direction: column;
}

.flex_box_row{
  display: flex;
  flex-direction: row;
}

.email_box input{
  flex: 2;
}
.email_box button{
  flex: 1;
}
/* RESPONSIVE */

@media only screen and (max-width: 425px) {

  .container::before,
  .container.sign_in::before,
  .container.sign_up::before {
      height: 100vh;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 0;
      transform: none;
      right: 0;
  }

  .container.sign_in .col.sign_up {
      transform: translateY(100%);
  }

  .container.sign_in .col.sign_in,
  .container.sign_up .col.sign_up {
      transform: translateY(0);
  }

  .content_row {
      align-items: flex-start !important;
  }

  .content_row .col {
      transform: translateY(0);
      background-color: unset;
  }

  .col {
      width: 100%;
      position: absolute;
      padding: 2rem;
      background-color: var(--white);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      transform: translateY(100%);
      transition: 1s ease-in-out;
  }

  .row {
      align-items: flex-end;
      justify-content: flex-end;
  }

  .form{
      box-shadow: none;
      margin: 0;
      padding: 0;
  }

  .text {
      margin: 0;
  }

  .text p {
      display: none;
  }

  .text h2 {
      margin: .5rem;
      font-size: 2rem;
  }
}